<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Morning Harwood</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta content="" property="og:title">
    <meta content="" property="og:type">
    <meta content="" property="og:url">
    <meta content="" property="og:image">

    <!--  <link rel="manifest" href="site.webmanifest">-->
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="icon.png" rel="apple-touch-icon">
    <link href="https://res.cloudinary.com" rel="preconnect">
    <link href="static/css/styles.css" rel="stylesheet">

    <meta content="#fafafa" name="theme-color">
    <title>{{page.metadata.title}}</title>
</head>
<body>
{% block content %}
    <h1>unstyled content</h1>
{% endblock content %}
</body>
</html>